# Ignore Python bytecode files
*.pyc
*.pyo
*.pyd
__pycache__/

# Ignore virtual environment directory
myvenv/
.env/
# Token = "7313342895:AAE1HGAQigzgkPlOY_Vx_UhRdEsY8eGy6z0"
# Webhook_URL = "https://73988946a8434c571a12cc91a6500a34.serveo.net"  # Your public URL
# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
#Project_Id = "mediaemobot-9iar"
# Ignore IDE-specific files
.vscode/
.idea/
twitter_sentiment_analysis/
media.json

# Ignore system files
.DS_Store
Thumbs.db

# Ignore environment files
*.env

# Ignore log files
*.log

# Ignore sensitive data
*.key
*.pem
*.crt
